<h1 style="color: white; background-color: #EE4D64; padding: 20px;">
  Welcome to Gympoint
</h1>
<h2>Hello, {{ student }}</h2>
<p>
  Your enrollment has been approved! We are so happy to have you with us!!!<br />
  You can find more information about it below:
</p>
<p>
  <strong>Plan:</strong> {{ plan }} <br />
  <strong>Start date:</strong> {{ start_date }} <br />
  <strong>End date:</strong> {{end_date}} <br />
  <strong>Final price:</strong> {{price}} <br />
</p>
