<img src="https://github.com/Rocketseat/bootcamp-gostack-desafio-03/blob/master/.github/logo.png" alt="Gympoint logo" />
<h1>Welcome to Gympoint</h1>
<h2>Hello, {{ student }}</h2>
<p>We are so happy to have you with us!!! Your enrollment has been approved.
  You can find more information about it below:
</p>
<p>
  <strong>Plan:</strong> {{ plan }} <br />
  <strong>Start date:</strong> {{ start_date }} <br />
  <strong>End date:</strong> {{end_date}} <br />
  <strong>Final price:</strong> {{price}} <br />
</p>
<h3>
  Start training right now! Do your check-in!
</h3>
